[Unit]
Description=Automounter for removable media.
Documentation=man:udiskie(1)

[Service]
Type=simple
ExecStart=/usr/bin/udiskie --automount --tray --notify
Restart=always

[Install]
WantedBy=graphical-session.target
