[user]
	email = austin@austinray.io
	name = Austin Ray
	signingKey = 0127ED83B939CCC98082476E1AA0B115C8AC2C9E
[merge]
	tool = vimdiff
	conflictstyle = diff3
	ff = false
[color]
	ui = auto
[commit]
	gpgsign = true
	verbose = true
[gpg]
	program = gpg
[init]
	defaultBranch = main
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = austin@austinray.io
	smtpserverport = 587
